[2014-02-22 23:13] postspectacular opened #1 "protocol coverage tests (write & implement missing)"

[2014-02-22 23:15] postspectacular opened #2 "unit tests for transforming vec, mat & quat"

[2014-02-22 23:19] postspectacular opened #3 "refactor M32 & M44 as deftype"
Which CLJ/CLJS protocols needed?
IMeta, IFn, IHash, indexed, seq...

[2014-02-23 00:04] postspectacular opened #4 "implement IPrintWithWriter for Vec, Mat & Quat"

[2014-02-23 09:42] postspectacular opened #5 "Merge Mesh3 features into GMesh"
- f/v normals
- slicing
- etc.

[2014-02-23 09:43] postspectacular opened #6 "Refactor CSG namespace as PSetOps impl for GMesh"
support 2d cases as well (via temp vec3)

[2014-02-24 18:24] postspectacular opened #7 "move defmathop macros into thi.ng.common.math"

[2014-02-25 02:38] #7 closed, assigned to nobody

[2014-03-05 01:26] #2 closed, assigned to postspectacular

[2014-03-19 01:01] postspectacular opened #8 "Add :fn opt to tessellate, detangle from `subdivide`"
Adding tessellation :fn arg as opt is a **good** thing, but currently causes (for many, not all impls) to run `subdivide` first and the default config for that is 2x2, causing extraneous /unwanted results...

Options:

1) remove call to `subdivide` from within tessellate. That means user code wanting both will have to be rewritten as:

[code]

2) set `subdivide` default res to 1, causing no subdiv

[2014-03-19 01:06] postspectacular opened #9 "Update default behavior of `tessellate` to return plain point vectors"
++ faster
++ more flexible
++ needed to avoid potential casting errors with custom tessellation fns (see #8)

-- what about uses of current typed results?

[2014-03-24 14:35] eskimoblood opened #10 "Build fails with: `Cannot open load file: ob`"
I'm on a mac with [Emacs For Mac OS X](http://emacsformacosx.com/) installed. When running `./tangle.sh src/*.org test/*.org` I've got the following error: `Cannot open load file: ob`. Maybe you can add a short sentence on how to build the projects for people that are new to emacs.

[2014-04-22 14:51] tangrammer opened #11 "broken documentation links"
Hi @postspectacular
these links are broken so far in this page https://github.com/thi-ng/geom/blob/master/src/index.org

https://github.com/thi-ng/geom/blob/master/src/core.html
https://github.com/thi-ng/geom/blob/master/src/types.html

Have a good day!
Juan

[2014-04-24 01:21] #10 closed, assigned to nobody

[2014-05-08 14:56] #3 closed, assigned to postspectacular

[2014-05-08 14:57] #9 closed, assigned to postspectacular

[2014-06-03 00:04] kovasb opened #12 "fit-all-into-aabb blows up for 2d regions"
this will fail if the size of one of the dimensions is 0:
(g/div (:size box) (:size b))

[2014-06-03 00:28] kovasb opened #13 "ClassCastException in fit-all-into-aabb"
(thi.ng.geom.aabb/fit-all-into-aabb
    (thi.ng.geom.aabb/aabb)
    [(thi.ng.geom.triangle/triangle3 [[0 0 0] [0.3 0.3 0] [0.3 0 1]])])

--> ClassCastException thi.ng.geom.core.vector.Vec3 cannot be cast to java.lang.Number  clojure.lang.Numbers.minus (Numbers.java:135)

[2014-06-03 14:47] #13 closed, assigned to nobody

[2014-11-10 23:36] postspectacular opened #14 "update all module readme's w/ new repo information"
Use copy from this commit until ato/clojars-web#270 is fixed:

https://github.com/thi-ng/geom/commit/484024f1e26d79573d7f57cbfcf2ccdd2a5bd6ba

[2014-12-07 17:55] fbellomi opened #15 "Error retrieving geom-core 0.3.0-SHAPSHOT"
Hi,

I'm trying to retrieve thi.ng/geom-core 0.3.0-SNAPSHOT which is published on Clojars, but it depends form thi.ng/macromath 0.3.0-SHAPSHOT, which is not published

https://clojars.org/thi.ng/macromath

Is this expected/wanted?

thanks in advance, and thank you for this wonderful project

[2014-12-07 19:30] #15 closed, assigned to nobody

[2014-12-07 19:49] #14 closed, assigned to nobody

[2015-02-27 16:33] #11 closed

[2015-02-27 16:33] #4 closed

[2015-04-17 15:52] skrat opened #19 "WebGL context as dynamic var"
Currently I have to manage the reference to GL context in every namespace that uses `thi.ng.geom.webgl`. It would clean the user code a lot if we could remove all the occurrences of `gl` symbol that are not context creation. Having written a small WebGL library in CLJS myself, I used a dynamic var in the core module, to allow users bind it to their WebGL context somewhere in the app initialization

[2015-04-17 16:00] skrat commented on #19
I volunteer to do the refactoring if you like the idea.

[2015-04-18 10:54] postspectacular commented on #19
Thanks, @skrat - I will have to think about this a bit more how this might impact scenarios using multiple GL contexts (apart from having to wrap all calls in `binding` forms). Generally I'm with others who argue to stay away from dynamic vars and I personally quite like the explicit nature of knowing what goes into which fn call. Also, adopting a central state pattern as proposed by [re-frame](ht

[2015-04-18 12:43] skrat commented on #19
Multiple contexts is a no-brainer, even though in most cases you deal with just one, you can nest `binding` forms and it will always do the right, intuitive thing. It also plays nice with `core.async` processes. The idea is not to wrap every form in `binding`, but do it once at the top level. It's the same concept that many `clojure.core` functions use, eg. the printer. Thank you for accidentally

[2015-05-24 15:05] timknip opened #20 "gmesh - compute-vertex-normals broken?"
In cljs this throws "Invalid arity: 0"
[code]
Am I missing something here? (like the mesh needing to be a manifold?)

Edit: (gmesh.cljx#243)
[code]
Seems to fix the issue.

[code]

[2015-05-24 21:00] postspectacular commented on #20
You're right, of course! `transduce` needs an init value here... and generally I need more tests :) Will fix tonight... Thanks!

[2015-05-24 23:03] timknip commented on #20
Gave me the chance to learn a bit on ```transduce``` ;-)

[2015-05-26 00:03] #20 closed

[2015-05-29 13:25] timknip opened #21 "CSG - Maximum call stack size exceeded"
I'm aware the below polygons aren't a valid 'solid', omitting some polygons for clarity.
In my 'real' code I'm using ```g/extrude some-poly {:depth 280}``` on some 100 different extruded polygons, which all are succeeding apart from the one below.

This fails with "call stack size exceeded":
[code]

But with the first polygon only ```mesh->csg``` succeeds:
[code]
With the second polygon only ```me

[2015-05-29 14:58] timknip commented on #21
It seems to be related to the *eps* value which makes ```compute-split-types``` classify the polygon wrongly. ie:  ```t``` is larger then ```*eps*``` or ```t``` smaller then  ```(- *eps*``` hence the polygon gets split-type 1 or 2, instead of the expected split-type 0 (as a csg-node with a single polygon of course should).

Not sure how to handle this. Guess there's some 'best' *eps*.

For now I'l

[2015-05-29 23:39] timknip commented on #21
[code]
Seems to do the job fine...
Closing the "issue"

[2015-05-29 23:39] #21 closed

[2015-05-31 12:23] skrat opened #22 "WebGL+morphogen demo doesn't work with current morphogen"
Additionally, morphogen depends on an outdated version of `thi-ng.geom`. Trying to get this working but no luck so far.

[2015-05-31 15:48] postspectacular commented on #22
Hi @skrat, this demo and others will soon be moved into the [thi-ng/demos](https://github.com/thi-ng/demos) repo, since that will make it easier managing the different dependencies needed for each demo. In the meantime I'll take a peek to see if there's a workaround - AFAIK there shouldn't be any incompatibilities, but I might be wrong (haven't use morphogen myself in the past couple of months). P

[2015-06-01 02:40] postspectacular commented on #22
I've just pushed a 0.2.0-SNAPSHOT release of morphogen, which now depends on latest geom (0.0.815, also pushed just earlier) - will hopefully get to migrating the demo this week...

[2015-06-01 07:55] skrat commented on #22
Amazing, keep it up. Can't wait to see it working with WebGL

[2015-06-05 01:58] postspectacular commented on #22
Just found a link to this specific demo in my archive: http://dev.thi.ng/20140523b/ - will get to update it soon...

[2015-06-05 02:11] #5 closed

[2015-09-21 00:29] kovasb opened #24 "pluggable element-wise matrix operations"
This is maybe too specific to my use case but I'll try anyway.

I'm tied of manually constructing matrices in GLSL code. I'd rather symbolically compute some matrix and use gamma to emit the code. I especially don't want to rewrite the logic for various eg rotation or perspective transformations. Too easy to get it wrong unless you've done it before.

Although geom supports pluggable *,+ etc, that

[2015-09-21 15:16] postspectacular commented on #24
Hi Kovas, just to make sure I understand that correctly.. are you're asking if the matrix types could be used like this:

[code]

Indeed that would be quite nice to have and not hard to implement... Also happy about other naming proposals instead of `combine` or `combine-with`.

[2015-09-29 16:13] kovasb commented on #24
My specific use case is for generating matrix transformations for use *inside of* gamma shaders.

I'd like to do something like
(geom/rotate-around-axis [gamma-x-coord gamma-y-coord ...]  [0 1 0] rad)

where gamma-x-coord etc are datastructures representing GLSL fragments. I would supply my own functions for +, -, *, / which would take the args and generate a new GLSL frag. Then I would take the r

[2015-10-12 14:10] den1k opened #25 "Does not compile in CLJS"
geom/color/math, none compiles from a .cljs file

lein deps:
[code]

Filename: `core.cljs`

Content:
[code]

Exception:
[code]

[2015-10-12 15:46] den1k commented on #25
Works after local install of `[thi.ng/geom "0.0.882"]`

[code]

[2015-10-13 12:12] postspectacular commented on #25
Hiya, am confused - can you please point me to your project and I will investigate. Right now I can't tell you what's going on... thanks!

[2015-10-13 16:32] den1k commented on #25
@postspectacular

https://github.com/den1k/geom-example

[code]

[2015-10-13 17:24] den1k opened #26 "CLJS serialization story for SVG"
For CLJ hiccup serializes SVG's as in

[code]

I have tried multiple alternatives for CLJS (hiccups, hipo and sablono for react), which AFAIK each miss an :xml mode.
sablono works properly for the [area and line plot](https://github.com/thi-ng/geom/blob/master/geom-viz/src/core.org#line--area-plot) example, but fails when used with the [bar graph](https://github.com/thi-ng/geom/blob/master/geom-vi

[2015-10-13 20:01] postspectacular commented on #25
Erm... your `project.clj` doesn't list geom as a dependency, so of course the namespace can't be found. If I add `[thi.ng/geom "0.0.881"]` to the `:dependencies` it compiles fine...

Also, note - this 0.0.881 version is the latest release and still uses an older version of the thi.ng/color lib (v1.0.0 of the color lib has only been released last week and has a completely different API than the pre

[2015-10-13 20:22] postspectacular commented on #26
I'm more of a reagent kinda person, so no 1st hand experience with sablono / om... But am really suprised that the bar graph fails of all the methods (which only uses rects & lines). Do you get an error of it just doesn't produce a DOM fragment? The `svg-plot2d-cartesian` just produces hiccup vectors with nothing special. However for React components the issue is that attribs like `:fill`, `:strok

[2015-10-13 21:54] den1k commented on #25
oh, apologies. I figure the issue I had before was part of intellij not indexing the new project file...
Thanks!

[2015-10-13 21:54] #25 closed

[2015-10-14 01:59] den1k commented on #26
The line-plot actually renders perfectly, apparently chrome also accepts tag attributes for properties like `fill`. I got really excited when it worked. I thought: finally a D3 replacement where I could add event handlers in a data transformation step before passing it to sablono.
The bar graph breaks something in sablono's `html` macro. The grid renders properly. Everything else ends up outside o

[2015-10-14 11:15] postspectacular commented on #26
I think this is really a shortcoming of sablono and other serializers. The bar graph hiccup looks like this below and serializes fine into an SVG DOM using my domus lib or in CLJ w/ hiccup:

[code]

I guess, it's the nested seqs which cause the serialization "hiccup" (pun intended! :) Will have to check if I can switch to `mapcat` somewhere.

[2015-10-15 13:10] den1k commented on #26
thanks @postspectacular I'm a huge fan of the geom toolkit. Looking forward to use it more & more in the future!

[2015-11-09 01:35] postspectacular commented on #26
Hi @den1k - just checked in 2 pieces of functionality which now cause no more warnings when using the viz module with Reagent (still not tried with sablono or any other Om related libs).

Seqs of elements in SVG groups now have one level less of nesting and you'll need to insert a call to `inject-element-attribs` (in the `thi.ng.geom.svg.adapter` ns). This fn will generate unique IDs for each elem

[2015-11-10 19:32] den1k commented on #26
Thanks @postspectacular for adding keys! The bar chart now renders properly. I checked the line chart which has extra numbers in it's last svg group node.
It appears that the group should contain svg text nodes but instead it has plain numbers which react renders as spans.

This is the group:
[code]

Render Output:
![om tutorial 2015-11-10 14-23-17](https://cloud.githubusercontent.com/assets/46518

[2015-11-11 02:35] postspectacular commented on #26
That's weird - in this demo here (using Reagent) it all works perfectly: http://demo.thi.ng/ws-ldn-1/geom-viz/

will take another look tonight after the workshop...

[2015-11-11 20:27] den1k commented on #26
@postspectacular the bar chart works fine, try the line chart.

[2015-11-12 04:26] postspectacular commented on #26
I don't know what you're seeing with that above linked [demo](http://demo.thi.ng/ws-ldn-1/geom-viz/), but I get the same (good & expected) results in Chrome (46.0.2490.86), FF(42.0) and even Safari 6.0.5 (8536.30.1):

![](http://demo.thi.ng/ws-ldn-1/20151112-viz1.png)
![](http://demo.thi.ng/ws-ldn-1/20151112-viz2.png)
![](http://demo.thi.ng/ws-ldn-1/20151112-viz3.png)
![](http://demo.thi.ng/ws-ldn

[2015-12-04 11:51] nkint opened #29 "Material to getting start"
Hi!
Sorry, I understand that this is not the right place where to ask this.
I'm a big fan of processing.org and toxiclibs but I'm a little bit bored about java as a language itself.

So here is a question: is there any tutorial or getting started or any other kind of advice to use thi.ng?

[2015-12-04 20:10] postspectacular commented on #29
Hi @nkint, tutorials are non-existing so far, but are on the TODO list... However for examples, there're various snippets lingering throughout the codebase and various workshop repos:

https://github.com/thi-ng/geom/blob/master/src/index.org#example-usage
https://github.com/thi-ng/geom/blob/master/geom-viz/src/core.org#example-usage
https://github.com/thi-ng/geom/blob/master/geom-svg/src/examples.

[2015-12-14 02:40] cjlarose opened #30 "`PArea` implementation for custom `gmesh` fails"
I'm writing a CLJS program that makes a mesh for a dodecahedron by calculating all of its faces, but I'm unable to get its surface area with a call to `thi.ng.geom.core/area`. I've reduced my program to what's necessary to reproduce the problem below

[code]

[code]

Am i constructing the mesh incorrectly in some way? Or is this a legitimate bug in the `area` implementation?

[2015-12-14 03:08] cjlarose commented on #30
Well, what do you know. I've had this problem all day, but as soon as I open an issue, I think I figured it out. I was passing faces to `gmesh/add-face` as Clojure vectors instead of `Vec3`. Converting all the vectors over fixes the problem.

Also, I found that my "dodecahedron" isn't actually composed of regular pentagons! So don't use it! :)

[2015-12-14 03:08] #30 closed

[2015-12-18 03:26] postspectacular commented on #30
Hi @cjlarose - sorry been offline. Yes, all points passed to meshes need to be Vec3 instances. Some of the other geom shape types actually cast points to Vec3 automatically, but not been doing it for meshes for performance reasons...

Also, there's a polyhedra namespace in the geom-meshops module, here:
https://github.com/thi-ng/geom/blob/master/geom-meshops/src/polyhedra.org#dodecahedron

Usage e

[2015-12-18 08:28] cjlarose commented on #30
@postspectacular Thanks for taking a look! I actually did find the dodecahedron in the polyhedra namespace eventually. Very cool! Thanks!

[2016-01-25 08:54] jackrusher opened #31 "Isosurface bug under CLJS?"
The simple voxel eroded cube demonstration works a treat with clojure, but throws this exception when run with clojurescript in the browser:

Uncaught TypeError: vertices__$1.call is not a functionthi.ng.geom.voxel.isosurface.cell_vertice_builder @ isosurface.cljc:360(anonymous function) @ core.cljs:2138cljs.core.seq_reduce.cljs$core$IFn$_invoke$arity$3 @ core.cljs:2138cljs.core.LazySeq.cljs$core$

[2016-02-15 18:12] gonewest818 opened #32 "converting sphere to mesh produces incomplete mesh"
Some of the triangles are missing, e.g.

[code]

Visual inspection of the mesh in a stl viewer shows 3 triangles at each of the "poles". It seems there ought to be 6 triangles around the "equator", but I see only 3, leaving three holes.

[2016-02-16 07:53] gonewest818 commented on #32
Never mind.  Those missing faces are actually quads not being dealt with properly by the stl writer.  Solved by tessellating prior to writing out the stl.

    (def sm (-> (sphere/sphere 2) (g/as-mesh {:res 3}) (g/tessellate)))

[2016-02-16 09:44] postspectacular commented on #32
Was just going to tell you that... :) The issue is that I need to update the docstring for `mesh.io/write-stl`, which is still stating that tessellation happens automatically. this feature was removed for performance reasons a over a year ago...

https://github.com/thi-ng/geom/blob/master/geom-meshops/src/meshio.org#stl

[2016-02-24 15:59] jackrusher commented on #32
[code]

... results in `nef.stl` missing a few polygons here and there. Would I need to tesselate before save even though I just loaded it?

[2016-02-24 20:37] postspectacular commented on #32
hey @jackrusher - I'm surprised you could load the file in the first place, since I've changed the behavior of the mesh.io fns in order to allow I/O also from CLJS (via `ArrayBuffer` objects). *All* of the `mio/read-xxx` and `mio/write-xxx` fns require their stream args to be wrapped like this:

[code]
The stream wrappers are from here: https://github.com/thi-ng/dstruct/blob/master/src/streams.org

[2016-02-24 20:38] postspectacular commented on #32
@jackrusher - what version of geom are you using? I was referring to 0.0.908... :)

[2016-02-24 21:07] postspectacular commented on #32
@jackrusher - just verified:

![](http://dev.thi.ng/geom/20160224-nefertiti.png)

[2016-02-25 09:27] jackrusher commented on #32
It looks like I'm using `geom` version 0.0.815 because that's what's bundled into `luxor` version 0.3.1.

[2016-02-25 14:04] postspectacular commented on #32
I always specify all libraries for a project explicitly to exactly avoid these issues. So instead of relying on luxor pulling in geom (and without knowing which one of the 2 is more recent), it's always more safe to list them both...

[2016-02-25 14:36] jackrusher commented on #32
Ah, so. I'm normally a bit concerned that there will be mysterious incompatibilities between, say, geom-X's idea of what a mesh is and luxor-X's idea of the same. If you tell me that the versions in clojars are always compatible with each other, I shall cease worrying. :)

[2016-02-25 14:45] postspectacular commented on #32
*Usually* they are and luxor is not dealing with meshes directly. However, the next geom release will have another major restructure and will trigger changes in luxor & morphogen too. Basically, currently working on new mesh type with support for arbitrary vertex attributes (e.g. colors, UV coords for texture mapping etc.)- but in order to not introduce special treatment for this, the existing mes

[2016-02-25 22:14] sander opened #34 "SVG rendered incorrectly in continental Europe"
I tried generating the `scatter-linear.svg` example from `thi.ng.geom.viz.core`:

![schermafbeelding 2016-02-25 om 23 07 35](https://cloud.githubusercontent.com/assets/44112/13336095/9f99e946-dc14-11e5-836c-d2cf2117ec70.png)

Apparently, string formatting is locale-dependent, and my locale uses the comma as decimal mark. The SVG file rendered well after doing:

[code]

[2016-02-27 12:13] postspectacular commented on #34
Wow! This really is news to me, but will switch to injecting `Locale.US` in the formatting calls so that you don't need to globally override the Locale.

Thanks - good spot! :)

[2016-03-01 08:14] jackrusher opened #35 "Butterfly subdivision produces faces with nils"
[code]
;;=>
[code]

[2016-03-01 08:21] jackrusher opened #36 "mesh->csg stack overflow"
[code]
... works as expected, but if I try to catmull-clark the mesh before converting to CSG, like this:
[code]
... I get this stack overflow:
[code]
... do more complicated meshes push the recursive `csg-node` function too deep?

[2016-03-01 11:25] postspectacular commented on #35
Butterfly subdivision principally only works with triangle meshes. so please tessellate first - i know, i know... documentation should mention this! :)

Original paper: http://www.math.tau.ac.il/~niradyn/papers/butterfly.pdf

[2016-03-01 11:27] postspectacular commented on #36
Hi @jackrusher - there definitely is a point where a complex mesh will blow the stack, but it shouldn't be after 1 iteration of subdivision. Will investigate! Thanks

[2016-03-01 11:32] postspectacular commented on #34
Fixed for next release. It should already work now if you include this dependency in your `project.clj`:
[code]
This will override the older (0.2.1) version of that lib referred to by geom...

[2016-03-01 11:33] #34 closed

[2016-03-01 11:59] postspectacular commented on #36
So, the thing works if you pre-tessellate the meshes. This makes me think that there're might be some issues with face normals in the original quad mesh. Because the face normals are used to define cutting planes in the BSP construction, if there're invalid values (e.g. two neighboring faces with opposite orientations), then the BSP construction will go into an infinite loop and blow the stack...

[2016-03-01 12:05] postspectacular commented on #36
Btw. The 4 iterations of subdivs seem to be the maximum for this example. With 5 it throws a different SO, but this time it has to do with concat's laziness...
[code]

[2016-03-01 12:10] postspectacular commented on #36
Proposed fix: Avoid `concat` calls in `csg/clip-polygons` & `csg/all-polygons`, use `into` or reducers' `cat`

[2016-03-01 12:16] postspectacular commented on #35
[code]
![](http://dev.thi.ng.s3.amazonaws.com/geom/20160301-butterfly.png)

[2016-03-01 12:17] postspectacular commented on #35
Proposed fix: Add docstring to point out triangle / pre-tessellation requirement

[2016-03-01 12:18] #32 closed

[2016-03-01 14:22] sander commented on #34
Thanks, works indeed!

[2016-03-01 14:55] jackrusher commented on #36
Thanks, mate. Having fun with BSG now!

[2016-03-01 15:01] jackrusher commented on #35
Ah, of course! Thanks for the paper.

[2016-03-01 16:50] postspectacular commented on #36
Great! :) Looking forward to see some of that - alas due to the current major mesh refactoring, there's no point in attempting to fix the above in master before the other things have settled

[2016-03-08 21:27] postspectacular commented on #35
Closing this, since it's actually already mentioned :) https://github.com/thi-ng/geom/blob/master/geom-meshops/src/subdivision.org#butterfly

[2016-03-08 21:27] #35 closed

[2016-03-09 19:52] postspectacular commented on #8
obsolete now

[2016-03-09 19:52] #8 closed

[2016-03-17 14:13] postspectacular opened #37 "update overview diagram"
- needs to reflect new structure
- make nodes clickable (link to source file)
- automate generation (walk ns tree?, add meta to exclude namespace?)
- script could also be used to generate textual master TOC

[2016-04-01 08:17] hlolli commented on #29
It would be nice if a slack channel was created for thi.ng. I'm also a beginner and want to learn more and have sometimes questions. But I just ask here then; for svg/path, how do I use is, as string or map?
(svg/path {:M "150 0" :L "75 200 225 200 Z"} {:fill "green"})
or
(svg/path "M 150 0 L 75 200 225 200 Z" {:fill "green"})

Neither seems to work.

[2016-04-01 14:17] postspectacular commented on #29
Hi @hlolli - I personally don't like slack due to its way too truncated history. we're using http://gitter.im/thi-ng/geom, which has unlimited history and is also linked to from the main readme... There're currently ~30 users and I try to reply as often as I can (mostly within a few hours).

As for your SVG question. The whole point of the SVG ns is to avoid having to work directly with the SVG in

[2016-04-09 22:22] postspectacular opened #38 "make final decision about arities of various protocol methods"
Currently common protocol methods like `translate`, `scale` and the various basic vector math ops allow specifying coordinate args as vectors or individual coords, e.g.

[code]

About the last case:

Pros:
- in some cases avoids construction of temp vectors, though most internal usage doesn't make use of this arity option, since args are mostly vectors already

Cons:
- considerable additional effo

[2016-04-09 22:32] postspectacular commented on #22
Btw. we updated this demo during the Berlin workshop in Feb, but after the recent refactoring over the past month, morphogen is now in dire need to be updated as well... it's on the todo list, but due to an already filled up April likely not to happen before May...

https://github.com/thi-ng/ws-bln-1/blob/master/day2-webgl/src/day2/webgl.cljs

[2016-04-10 08:09] jackrusher commented on #38
I advocate simplicity/consistency/ease-of-maintenance over the slight potential performance increase gained by maintaining the extra arities.

[2016-04-10 08:35] vl4dimir commented on #38
+1, what Jack said.

On Sunday, 10 April 2016, Jack Rusher <notifications@github.com> wrote:

[2016-04-11 02:09] postspectacular commented on #38
I love consensus! :) Will schedule this for week after next...

[2016-04-12 07:10] postspectacular opened #39 "add react.js component wrapper for WebGL canvas"
Add helper fn to return hashmap w/ react lifecycle methods to specify WebGL canvas components (but without requiring additional deps)

[2016-04-19 15:25] verybigelephants opened #40 "workshop bug: basic"
hey there, this is the bug which we found on the workshop in bratislava

doing `(-> (circle 20) (g/as-polygon 4) (g/extrude {:depth 1}) (g/translate [0 0 10]))` will result in an error

here's the stack

				IllegalArgumentException No implementation of method: :+ of protocol: #'thi.ng.math.core/IMathOps found for class: java.lang.Double  clojure
				.core/-cache-protocol-fn (core_deftype.clj:568)

[2016-04-21 17:41] postspectacular commented on #40
fixed it, will push new snapshot in a few days

[2016-04-21 17:41] #40 closed

[2016-04-23 16:50] verybigelephants commented on #40
@postspectacular hope waking up after the borkovickas and beer was ok by the way!

[2016-04-23 19:55] postspectacular commented on #40
yeah! Wed was a deserved soft-holiday for me :) Great to meet you & hope we'll again some time...

[2016-04-28 12:01] acron0 opened #41 "When using `:flags` to cull sides of aabb, texture maps to wrong faces"
https://github.com/thi-ng/ws-ldn-8/blob/master/day1/ex03/src/ex03/webgl04.cljs

If you use `:flags :nesw` (for example) on the aabb, the texture appears to map to the wrong faces. So, 'front' and 'back' are removed but the texture still labels two of the sides 'front' and 'back' rather than 'east' and 'west'. It appears to have something to do with _which_ faces are omitted, because `:flags :ewfb`

[2016-04-28 21:11] postspectacular commented on #41
Hi @acron0 - so I found the problem and it's not a bug in this project, but has to do with the texture setup in our workshop example. We simply need to flip the texture (by setting `:flip true` [here](https://github.com/thi-ng/ws-ldn-8/blob/master/day1/ex03/src/ex03/webgl04.cljs#L53)) for correct operation. However, since the cam is located inside the cube, the UV coords need to be manually flippe

[2016-05-03 00:43] postspectacular commented on #38
Okay guys, it's done:
https://github.com/thi-ng/geom/commit/a516bd575fbe9dcfb3e176639f3e94313933395c + the 2 following commits to update tests/demos

will build another snapshot this week

[2016-07-13 07:11] postspectacular opened #44 "add IGES export option"
https://en.wikipedia.org/wiki/IGES

[2016-07-25 17:51] rqcy opened #45 "colorbar"
Hi,

How to add a colorbar to a heatmap plot?

Thanks!

[2016-07-26 07:11] postspectacular commented on #45
You mean like in these diagrams?
![](https://camo.githubusercontent.com/c2cd095d6a47b7f404c0b0e1a8be004af0cb9958/687474703a2f2f6d656469612e7468692e6e672f636f6c6f722f707265736574732f7261696e626f77312e737667)

![](http://thi.ng/img/all-commits.svg)

If so, then pls take a look at the example here:
https://github.com/thi-ng/color/blob/master/src/gradients.org#gradient-presets-visualization

[code]

[2016-07-26 08:40] rqcy commented on #45
Yes, thank you!

[2016-07-26 08:40] #45 closed

[2016-08-18 20:50] Polyrhythm commented on #26
Is there a way to provide a simple example of a working Reagent-based SVG for working with, say, shapes?

I'm trying the following and it's not working out:

[code]

I get `Error rendering component (in things.core.simple` and `Uncaught Error: Invalid arity: 1` with pretty useless stack traces.

[2016-08-19 08:32] postspectacular commented on #26
Hi @Polyrhythm - there're two things wrong with your example:

1) In `svg-component` - you **don't** want to wrap the child of the inner form in a vector, since then your structure would look like this: `[:div [[:svg ... ]]]` and this causes part of the trouble
2) The other issue is that you forgot to call `svgadapt/all-as-svg` **before** injecting the `:key` attribs

So corrected, this works with

[2016-08-19 16:02] Polyrhythm commented on #26
@postspectacular thank you for the quick and thorough reply. Now I can get started learning this awesome set of tools. 👍

[2016-09-16 16:07] acron0 opened #46 "[CLJS] `lin-tick-marks` with `0` delta causes overflow"
Hi Karsten, just tracked down this error after tracing it to `linear-axis` in `thi.ng.geom.viz.core`.
In Java an exception is thrown, but in browser (Chrome, at least) it just overflows and ramps the memory usage up super quick. Happy to PR if you'd advise on how you'd like it fixed. Zero check and empty list return?

[code]

[2016-09-17 15:27] postspectacular commented on #46
Good find, Anthony! Yeah, PR would be welcome & looks good (though I would rather use `(m/delta= delta 0.0 m/*eps*)` instead of `(zero? delta)`... (also see [here](https://github.com/thi-ng/math/blob/master/src/core.org#piecewise-and-recursive-equality-check-with-ε-value))

How did you end up with a delta=0 though in the first place? Only mapping a single value? Or if on Y-axis, all values the sam

[2016-09-19 09:57] acron0 commented on #46
There was a bug in my code which was leading to a 0 delta - as you guessed, same values on a Y-axis :) PR en route

[2016-10-02 11:40] rqcy opened #48 "legend?"
Hi, thanks for the cool library!

I couldn't find any reference, therefore I'm asking here: is it possible, and if yes, what's the recommended way to draw a legend to the plot generated with geom.viz module?

[2016-11-09 12:30] Rovanion opened #49 "Is there an example which uses multiple textures?"
I'm terribly sorry that I'm posing what's essentially a support question here on the issue tracker. But we've been unable to figure out how to use multiple textures with geom and have equally been able to find an example either among your workshops or in the given [WebGL examples](https://github.com/thi-ng/geom/blob/develop/examples/gl/webgl.org).

~~More specifically: What is it that determines `

[2016-11-10 04:55] postspectacular commented on #49
Just pushed a new demo showing how to use multiple tex units: http://demo.thi.ng/geom/webgl/multitex/

For textures, `gl/bind` only defaults to tex unit 0 if no extra arg is given, but you can bind to a specific unit via `(gl/bind tex id)`. Furthermore, if your shader uses multiple textures, you can either specify their default slots in the shader spec (see demo source) or set their uniforms dynam

[2016-11-10 10:36] Rovanion commented on #49
Thank you so much! This example also shows how we can bind different textures to the different texture units at will which be very useful to us.

Just a quick secondary question `gl/release` is the function which _unloads_ a texture from GPU memory, right?

[2016-11-10 10:36] #49 closed

[2016-11-12 17:02] postspectacular commented on #49
glad it helped! :) And yes, `release` is the protocol fn to release the memory of any GL related resources (textures, frame buffers, render bufffers). Currently, the only exception is vertex array/attribute buffers. These are not yet wrapped as `defrecord` and therefore don't yet implement the `gl/IRelease` protocol. So if you need to delete those, you'll have to use the direct GL/WebGL call (for

[2016-11-12 22:16] Rovanion commented on #49
Thanks a ton for the wonderful help! And equally thanks for the library, wrote a short [guide](https://github.com/Rovanion/webgl-clojurescript-tutorial) on interactively programming WebGL with Figwheel and Geom and I'm finding it absolutely delightful to have that 0.5s iteration time even when doing 3D graphics.

[2016-11-14 08:31] postspectacular commented on #37
Done:
https://github.com/thi-ng/geom/blob/develop/assets/overview.dot
https://github.com/thi-ng/geom/blob/develop/assets/overview.svg

https://github.com/thi-ng/geom/tree/develop#project-structure

[2016-11-14 08:31] #37 closed

[2017-03-10 16:58] rqcy commented on #48
I found https://github.com/thi-ng/punchcard which is a good example how to use thi-ng/geom.

[2017-03-10 16:58] #48 closed

[2017-03-10 17:31] rqcy opened #53 "Area plot with min and max values"
Hi, it would be useful to have an area (fill) plot that is defined between two curves.  I'm thinking about something similar to svg-radar-plot-minmax but for Cartesian coordinates.  Another reference is http://matplotlib.org/examples/pylab_examples/fill_between_demo.html .

[2017-04-14 10:48] Sohalt opened #54 "SVG ellipse and polyline missing"
Is there a reason the SVG ellipse and polyline primitives are missing?

[2017-04-17 21:52] postspectacular commented on #54
@Sohalt the other common name for polylines is `line-strip` and that's available. `ellipse` is missing (sorry), just never needed it so far... but easy enough to add:

[code]

[2017-04-23 19:56] Linchy opened #55 "How to load textures from file?"
The samples say use:

[code]

But I just get a `thi.ng.geom.gl.buffers` not found. I've found this with all namespaces that start with `thi.ng.geom.gl`. Is it possible I am missing a dependency? Or samples are outdated?

[2017-04-24 10:23] Linchy commented on #55
It seems  I was using the master branch and not the sample branch, using the SNAPSHOT version from here fixed it:

https://github.com/thi-ng/geom/tree/develop

[2017-04-24 10:23] #55 closed

[2017-04-25 18:00] luxbock opened #56 "`filter-attribs` excludes using attribute names with names shorter than three characters"
[code]

The call to `subs` prevents passing in keys such as `:x` or `:y` in the attribute map of a SVG hiccup vector. It would be handy to be able to use these with `svg/group`.

[2017-06-12 09:52] skrat opened #57 "MeshFace misses IVertexAccess method"
Calling `(g/vertices mf)` raises missing protocol in CLJS. Calling `(g/vertices mf {})` works.

[2017-08-27 20:44] farhanmannan opened #63 "[CLJS] Replacement for byte-array in commits->matrix for GitHub heatmap?"
Hi there - **thanks** for the amazing tools. 😄  I've got a bar graph working in my reagent project and am now looking at adding the GitHub-commit style visualisation.

1. When it comes to the `commits->matrix` function I'm stuck as `byte-array` doesn't exist in ClojureScript. I tried binding `mat` to ((nd/ndarray :int32 (repeat (* 7 weeks) 0) [7 weeks])` but it didn't make any difference - I get a

[2017-08-29 22:14] farhanmannan commented on #63
@postspectacular actually could you maybe show me the code for this stuff on the [thi.ng homepage](http://thi.ng)?

![screen shot 2017-08-29 at 23 14 03](https://user-images.githubusercontent.com/603598/29846703-cd410bba-8d0f-11e7-93bb-e86ae52ca0c9.png)

[2017-10-20 19:39] den1k opened #64 "Force Directed Graph layout"
https://github.com/thi-ng/geom/blob/master/geom-viz/src/core.org#force-directed-graph-layout

It looks like this project is on pause, but I'm wondering if a graph layout could be in the works.

[2017-11-01 13:54] gazliddon opened #65 "vector.org xforms in to vector.clj bot vector.cljs when building development branch"
Which means I can't require thi.ng.geom.vector in clojurescript files.

I don't know enough about org files to really understand if I've found a bug or just getting something wrong here :)

[2017-11-02 09:47] #65 closed

[2017-11-02 09:47] gazliddon commented on #65
My mistake :)

[2018-05-31 10:38] #44 closed

[2018-05-31 11:32] #46 closed

[2018-05-31 12:26] #38 closed

[2018-05-31 12:28] #12 closed

[2018-06-01 23:34] postspectacular commented on #22
Just for the record here: I've just pushed a new `0.2.0-SNAPSHOT` of morphogen, which depends on latest thi.ng/geom (1.0.0-RC3), so at least this part is fixed. Demo will be fixed as part of the [thi.ng/demos](https://github.com/thi-ng/demos) repo update.

[2018-06-01 23:34] #22 closed

[2018-06-01 23:44] postspectacular commented on #64
Hi @den1k - sorry this *was* in the works, but never more than half-baked and it's unlikely I will continue this. I don't have the code available right now, but I used the geom.physics module to drive the layout...

Also, not directly related, but the only public demo of the physics engine is here:

http://demo.thi.ng/geom/physics/

Maybe that's useful to get going...

[2018-06-01 23:44] #64 closed

[2018-06-01 23:46] postspectacular commented on #57
Thanks @skrat - I merged this yesterday, but there was a minor issue with the two arities. Easy to fix though (https://github.com/thi-ng/geom/commit/e36f9f4ca487037144b6cee126e1598e64c78ba8)

[2018-06-01 23:46] #57 closed

[2018-06-01 23:53] #26 closed

[2018-06-29 09:43] vushu opened #66 "Getting error on latest clojurescript"
As the title says, I am getting and error when using the latest version of clojurescript 1.10.x
with thi.ng/geom. When using together with figwheel i get this following error.
[code]

I use this version [org.clojure/clojurescript "1.9.89"] to make it work.

[2018-06-29 12:15] postspectacular commented on #66
Hey @vushu - thanks for reporting this. Which version of geom are you using. Did you try with the new release candidate `[thi.ng/geom "1.0.0-RC3"]`?

[2018-06-29 12:19] vushu commented on #66
Ah thank you, this release works with the latest clojurescript 1.10.339

[2018-06-29 12:24] postspectacular commented on #66
Great! Btw. if you want to follow discussion about the upcoming 1.0.0 release, hop onto the #clojure channel on our Discord: https://discord.gg/JhYcmBw

[2018-06-29 12:24] #66 closed

[2018-11-30 00:55] zcaudate opened #69 "question about drawing 3d objects in worldwind"
I don't have too much opengl experience but I'm looking to do some visualisations using geom and [worldwind](https://worldwind.arc.nasa.gov/).

I saw that both libraries use org.jogamp.jogl/jogl-all, if that helps integration at all.

I'm hoping to get some tips on how and where to start.

[2018-11-30 19:43] marco-m commented on #54
@postspectacular it looks like this issue can be closed, right?

[2018-11-30 20:42] postspectacular commented on #54
right! :)

[2018-11-30 20:42] #54 closed

[2018-12-09 09:35] zcaudate commented on #69
okay. I've figured it out.

[2018-12-09 09:35] #69 closed

[2018-12-09 12:17] postspectacular commented on #69
Sorry, @zcaudate - been a super busy week and didn't have an answer ready since not familiar w/ Worldwind. Do you have a repo somewhere showing how the integration works? Thanks! :)

[2018-12-09 23:47] zcaudate commented on #69
it's still a bit messy and WIP. I'll clean it up first.

[2019-01-22 22:30] benalbrecht opened #70 "inconsistent results in `subdivide` for rects divided six or seven times"
Expected:

[code]

Actual:
[code]

The root cause seems to be [in these two lines](https://github.com/thi-ng/geom/blob/feature/no-org/src/thi/ng/geom/rect.cljc#L272-L273) with the following results:
[code]

[2019-01-23 00:31] postspectacular commented on #70
Ah yes, the joys of floating point math... 😭 It seems I forgot to update the `subdivide` impl for rectangles as I'd already done for the 3D counterpart (`AABB` shape type), i.e. we should use `norm-range` from the [thi.ng/math](https://github.com/thi-ng/math/blob/master/src/core.org#intervals) package (the last function in that linked code block), which is more precise than the Clojure built-in `r

[2019-01-23 01:18] benalbrecht commented on #70
PR created, thanks for the directions :)

[2019-01-23 02:20] postspectacular commented on #70
thank you! let's keep this issue open until I've made the release...

[2019-01-24 06:58] zcaudate opened #72 "ml group wants you"
@postspectacular: there are some shoutouts to thing/geom in a thread for ml: https://clojureverse.org/t/online-meeting-clojure-data-science/3503/54. It'd be great if yourself and other contributors to geom check it out as well as the zulip channel.

[2019-01-24 22:35] postspectacular commented on #72
thanks for the heads up @zcaudate! will read through this thread over the weekend...

[2019-06-13 17:41] charlieb opened #75 "Octree gives various clojure.lang level errors"
First let me apologise for the poor title of this issue and then apologise again for not having narrowed down the exact cases that cause these problems.

I have [this piece of code](https://github.com/charlieb/dla3d/blob/bc6f36e60fe9fa694676304f71eb2ebed24d9cc9/src/dla3d/core.clj)
[code]

[2019-06-14 01:42] charlieb commented on #75
[code]
[code]
but remove a minus sign from the third number in the second vec and all is well:
[code]
[code]

[2019-06-14 01:57] postspectacular commented on #75
@charlieb i will take a closer look at this over the weekend. my first hunch is that the large selection sphere is in the wrong place. the octree (as defined by you) is between (0,0,0) -> (100,100,100), so the sphere should be centered around (50,50,50), not (0,0,0)...

[2019-06-14 01:59] postspectacular commented on #75
the other thing is that i can't recall right now how point outside the octree volume are handled. i think this might cause some issues, so please try to clamp them to the indexable region...

[2019-06-14 02:21] charlieb commented on #75
That was my hunch as well but I wasn't able to get behaviour that was consistent with that hypothesis. It wasn't clear from the comments whether the second argument was only in one direction or whether it defined a region offset by a maximum from the center. I assumed the second.
For my project I've gone with a kd-tree from another library so it's not urgent for me.

[2019-06-14 02:25] postspectacular commented on #75
yeah, sorry - that part of the library is very much under-documented :( In general, for use cases like this (unknown/growing regions to be indexed), a k-D tree is definitely the better solution, especially if it supports rebalancing...

[2019-06-14 02:32] charlieb commented on #75
No need to apologise, thank you for all your work on this!

[2019-06-15 13:13] dimovich commented on #75
@charlieb
I remember also bumping into this issue while experimenting with https://dimovich.github.io/art and updating the agents positions. Sometimes it would work, but sometimes it would go into infinite loop for some specific points. Nice that you found a simple test case. My solution was to go with C + Emscripten and some naive selection code. Can I ask what kD library did you pick?

@postspec

[2019-06-15 16:17] postspectacular commented on #75
So I can confirm that, as predicted earlier, the error/hang has to do with inserting points outside the defined octree volume, which really is a kind of user error, since conceptually these points are not indexable with an octree. So all you'd need to do is pre-clamping points before inserting, e.g. via: `(m/min (m/max p (v/vec3)) (v/vec3 100))`

[code]

@dimovich pls ignore my comment about cente

[2019-06-15 16:29] postspectacular commented on #75
Btw. Fixing this would make a nice & easy PR. Just need to decide how to deal with the case of trying to index an outside point, e.g. return nil. The bounds check should be only be needed in these 2 locations to also fix the same issue for the quadtree:

- https://github.com/thi-ng/geom/blob/feature/no-org/src/thi/ng/geom/spatialtree.cljc#L153
- https://github.com/thi-ng/geom/blob/feature/no-org/s

[2019-06-15 21:17] dimovich commented on #75
Yes, this works!  @charlieb Do you want to do the PR?

[2019-06-16 10:43] postspectacular commented on #75
@dimovich great - and re: always returning the tree, that's what I meant with: "Just need to decide how to deal with the case of trying to index an outside point". Using `nil` as result here allows us to indicate to the caller that indexing that given point failed... Also, for performance reasons both the quad and octree impls are *mutable* structures, so in theory we'd never need to return a resu

[2019-10-15 06:54] selvakarna opened #78 "how to export step/igs/webgl from Obj?"
how to export step/igs/webgl from Obj?

[2019-10-15 19:28] postspectacular commented on #78
Hi @selvakarna - do you mean converting an OBJ file to Step/IGES? Unfortunately neither of these are directly supported here, but I'm working on an [IGES exporter in TypeScript](https://github.com/thi-ng/umbrella/tree/master/packages/iges). Even that is not a fully automated solution and will still require 1) a 3rd party OBJ parser and 2) step-by-step construction of the result IGES document (iter

[2019-10-16 03:28] selvakarna commented on #78
Hi @postspectacular , thanks for reference , can you share , sample code for IGES or STEP export from polylines ?

[2019-10-16 04:31] selvakarna commented on #78
How to install this package ? can you share package name and all.

[2019-10-16 10:10] postspectacular commented on #78
Hey, as I mentioned, this is not a Clojure project, but a TypeScript package (compiled to JavaScript) and installation details are included in the above linked [readme file](https://github.com/thi-ng/umbrella/blob/master/packages/iges/README.md). You should be able to use this (or other NPM modules) with ClojureScript though: https://clojurescript.org/guides/javascript-modules#node-modules - I hav

[2019-10-21 13:11] #78 closed, assigned to nobody

[2019-12-01 17:30] benalbrecht commented on #70
released in 1.0.0-RC4 :+1:

[2019-12-01 17:30] #70 closed

[2021-03-25 04:50] larsmacro88 opened #80 "How to create the smooth perfect mesh on 3d data points i.e. ply file using geom"
Respected All,
I have a set of 3D data points which look uniform plane. I want it to be converted to 3D mesh using python. I was researching and found the geom library. I am very excited to work with this library. Based on this, I tried to do surface reconstruction using the Ball pivot algorithm and also Poisson surface reconstruction. I tried the same using Meshlab software. But, I am unable to d

[2021-05-20 00:15] sableseyler opened #85 "Missing IMathOps :- method for java.lang.Double when using csg/mesh->csg"
When trying to convert a mesh (tested with either basic-mesh or gmesh) to a CSG node (using `csg/mesh->csg`) to compute the union of several nodes, I receive the following error. `No implementation of method: :- of protocol: #'thi.ng.math.core/IMathOps found for class: java.lang.Double`. Further investigation shows that it's happening in the `ortho-normal` function, which is being used when comput

[2021-05-20 03:02] sableseyler commented on #85
Further investigation reveals that the BasicMesh may be generating wrong. I get the following results when I inspect the generation of the mesh in CIDER:

[code]

The mesh is being generated by having the following sequence of faces passed in, using the form `(g/into (bm/basic-mesh) faces)`, where `faces` is defined as follows:

[code]

[2021-05-20 06:16] sableseyler commented on #85
Okay, finally tested and found where the problem is. On line 18 of `basicmesh.cljc`, where you define the parameters for `add-face*`, you're excessively deconstructing the passed face.

https://github.com/thi-ng/geom/blob/85783a1f87670c5821473298fa0b491bd40c3028/src/thi/ng/geom/basicmesh.cljc#L17-L22

After removing the extra sequence deconstruction around `fverts`, the problem disappeared.

[2021-05-20 06:27] sableseyler commented on #85
And of course after fixing that I get a stack overflow.

[2021-05-20 15:08] postspectacular commented on #85
Hi @seylerius - I'm in the middle of a relocation and will take a while until I can look into this. In the meanwhile, please post a minimal example to reproduce your issue, thanks! 👍

[2021-07-08 16:21] kxygk opened #86 "How have you enhanced your Stacked intervals?"
Hi @postspectacular

The stacked intervals on your homepage: https://thi.ng/
They seem to do much more than the example in `geom-viz`. They have links integrated, animation, etc. Is this all accomplished through `geom`? Do you happen to have an example of how those are made? I'd love to output more interactive SVGs if possible. Or is this some re-implementation in your other library `umbrella`?

[2021-07-18 08:52] kxygk opened #87 "Bar plots can't be drawn with a negative y-axis"
There is  bit of a weird limitation with the bar plots. The bars are at the moment drawn with respect to the first value in the domain - but this causes some usability issues

If you have bar plots that have mostly negative values - for instance:
[code]

![normal-bar-plot](https://user-images.githubusercontent.com/21017379/126060820-fd917c63-ab23-4961-b4c7-3480ab3d6cef.png)

Adding a Y axis that s

[2021-12-31 19:32] dgtized opened #88 "Should g/IArea always return absolute value of area?"
Triangles like `(g/area (t/triangle2 [0 0] [0 10] [10 10]))` returns -50.0 for area, which seems somewhat counter-intuitive. This behavior is the same for polygons like `(g/area (p/polygon2 [0 0] [0 10] [10 0]))`.  This is used to test the clockwise/counterclockwise ordering of points for certain polygon operations like `extrude`, and `extrude-shell`, so it does appear to be expected behavior. How

[2022-01-12 09:56] Hendekagon opened #90 "Handle degenerate cases in circumcircle-raw, triangle-spec"
`thi.ng.geom.triangle/circumcircle-raw` returns nil for points that are the same:

[code]

causing a NPE in `thi.ng.geom.utils.delaunay/triangle-spec` :

[code]

I can think of these options:

-  `circumcircle-raw` could return a zero-radius circle in this case - no errors but maybe undesirable
-  check for zero radius in `triangle-spec` and warn - slower but more friendly
-  add docstring warning

[2022-01-22 00:57] harold opened #91 "`thi.ng.geom.polygon/tesselate*` sometimes returns nil for certain pt orderings of polygons"
Hi, first- thanks to all involved, this library continues to boggle the brain and delight the heart. I love it and am so grateful for all the efforts of all involved.

I was extruding some polygons, and sometimes the caps were missing, and I believe the root cause to be related to this:

[code]

IIUC (and that's a stretch!), the tessellation shouldn't depend on the where we start in the list of po

[2022-01-22 03:46] harold commented on #91
Here's another interesting set of points for which no cycle start point computes a tessellation:

[code]

[2022-09-21 09:40] mourginakis opened #94 "JOGL examples not working"
Trying to run any of the JOGL examples results in an error, it seems that jogamp for whatever reason cannot be loaded into the namespace

#### stack trace upon trying to load examples/jogl/stl_mesh.clj

[code]

Following the program's execution, it seems as if the namespace thi.ng.geom.gl.jogl.core isn't loading because it can't properly run the lines

[code]

I don't know enough about java or how

[2022-09-21 09:47] postspectacular commented on #94
Can't check this anytime soon, but think this might just be an age thing by now. I.e. these GL bindings are from 2015/16 and I know are unsupported for macos-arm64 (M1 & above). There's also not much which can be done, since the whole JOGL bindings project seems dead and this whole aspect of thi.ng/geom would need to be refactored to use LWGL or other(?) native GL wrapper libs... sorry!

[2022-09-21 09:51] mourginakis commented on #94
Oh yeah, being on an an unsupported M1 certainly doesn't help! (didn't even think to check)
I am going to explore getting LWJGL to work with the other components of this library. This library is awesome and brilliantly fits my use case, so I really want to get 3D to work.
Thanks for the super fast response!

[2022-09-21 10:00] postspectacular commented on #94
FWIW all the non-JOGL related parts will (should) work also in WebGL (via CLJS), e.g. see here:

https://github.com/thi-ng/geom/blob/feature/no-org/org/examples/gl/webgl.org

[2022-09-22 10:06] #94 closed, assigned to nobody